.news-card{

    border:none;

    border-radius:20px;

    overflow:hidden;

    transition:.3s;

}

.news-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 35px rgba(0,0,0,.2);

}

.card-img-top{

    height:240px;

    object-fit:cover;

}

.card-body{

    padding:20px;

}

.card-body h4{

    font-weight:bold;

    margin-top:10px;

}

.card-body p{

    color:#666;

    margin-top:15px;

}

.card-footer{

    border:none;

    padding:15px;

}

.card-footer button{

    border-radius:30px;

    transition:.3s;

}

.card-footer button:hover{

    background:#0d6efd;

    color:white;

}

.badge{

    font-size:13px;

}

.container{

    margin-bottom:80px;

}